.inline-block {
  font-weight: inherit;
  display: inline-block;
}

@media not screen and (min-width: 767px) {
  .hide-on-sp {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .hide-on-pc {
    display: none;
  }
}

.inner {
  padding-inline: 20px;
}
@media screen and (min-width: 767px) {
  .inner {
    padding-inline: 40px;
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
  }
}

body {
  font-family: "Noto Serif JP", serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333333;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 64px;
  z-index: 100;
}
@media screen and (min-width: 767px) {
  .header {
    height: 80px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 18px;
}
@media screen and (min-width: 767px) {
  .header__inner {
    margin-top: 0;
  }
}

.header__logo {
  width: 114px;
}
@media screen and (min-width: 767px) {
  .header__logo {
    width: 140px;
  }
}
.header__drawer-icon {
  width: 24px;
  height: 20px;
  position: relative;
}
@media screen and (min-width: 767px) {
  .header__drawer-icon {
    display: none;
  }
}

.header__drawer__bar {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #333333;
}
.header__drawer__bar:nth-child(1) {
  top: 0;
}
.header__drawer__bar:nth-child(2) {
  top: 9px;
}
.header__drawer__bar:nth-child(3) {
  top: 18px;
}

.header__nav {
  display: none;
}
@media screen and (min-width: 767px) {
  .header__nav {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__item {
  position: relative;
}
.header__item::before {
  position: absolute;
  content: "";
  display: block;
  width: 1px;
  height: 36px;
  background: #333333;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  height: 80px;
  padding-inline: min(2.08vw, 30px);
}
@media screen and (min-width: 767px) and (max-width: 1090px) {
  .header__item a {
    font-size: 14px;
    padding-inline: max(1.04vw, 8px);
  }
}
.header__item span {
  display: block;
  margin-top: 7px;
  color: #b69b04;
  font-size: 12px;
  font-family: "Lora", serif;
}

.header__contact {
  display: none;
}
@media screen and (min-width: 767px) {
  .header__contact {
    display: block;
    width: 168px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1090px) {
  .header__contact {
    width: 120px;
  }
}
.header__contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  height: 80px;
  color: #ffffff;
  background: #31452d;
}
@media screen and (min-width: 767px) and (max-width: 1090px) {
  .header__contact a {
    font-size: 14px;
  }
}
.header__contact span {
  display: block;
  margin-top: 7px;
  color: #b69b04;
  font-size: 12px;
  font-family: "Lora", serif;
}

.mv {
  width: 100%;
  height: 812px;
  background: transparent url(../img/top-image-sp.jpg) no-repeat 50% 50%/cover;
}
@media screen and (min-width: 767px) {
  .mv {
    height: 900px;
    background: transparent url(../img/top-image.jpg) no-repeat 50% 50%/cover;
  }
}

.mv__inner {
  height: inherit;
  position: relative;
}

.mv__text {
  position: absolute;
  top: calc(50% + 31px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}
@media screen and (min-width: 767px) {
  .mv__text {
    top: calc(50% + 39px);
    left: 3px;
  }
}
@media screen and (min-width: 767px) {
  .mv__text img {
    width: 960px;
  }
}