.inline-block {
  font-weight: inherit;
  display: inline-block;
}

@media not screen and (min-width: 900px) {
  .hide-on-sp {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .hide-on-pc {
    display: none;
  }
}

body {
  font-family: "Noto Serif JP", serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333333;
}