// ブレイクポイント
@use "sass:map";

$breakpoints: (
  sp: "not screen and (min-width: 767px)",
  tb: "screen and (min-width: 767px) and (max-width: 1090px)",
  pc: "screen and (min-width: 767px)",
) !default;

@mixin mq($breakpoint: pc) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

// 変数
$font-family-ja: "Noto Serif JP", serif;
$font-family-en: "Lora", serif;

$color-main: #31452d;
$color-accent: #b69b04;
$color-sub: #eeead0;
$color-black: #333333;
$color-white: #ffffff;

$inner-width-sp: 335px;
$inner-width-pc: 1040px;

$header-height-sp: 64px;
$header-height-pc: 80px;

// 共通
.inline-block {
  font-weight: inherit;
  display: inline-block;
}

.hide-on-sp {
  @include mq(sp) {
    display: none;
  }
}

.hide-on-pc {
  @include mq(pc) {
    display: none;
  }
}

.inner {
  padding-inline: 20px;

  @include mq(pc) {
    padding-inline: 40px;
    width: 100%;
    max-width: calc($inner-width-pc + 40px * 2);
    margin: 0 auto;
  }
}

// ベース
body {
  font-family: $font-family-ja;
  font-size: 16px;
  line-height: 1.6;
  color: $color-black;
}

// header
.header {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: $header-height-sp;
  z-index: 100;

  @include mq(pc) {
    height: $header-height-pc;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;

  @include mq(pc) {
    margin-top: 0;
  }
}

.header__logo {
  width: 114px;

  @include mq(pc) {
    width: 140px;
  }

  img {
  }
}

.header__drawer-icon {
  width: 24px;
  height: 20px;
  position: relative;

  @include mq(pc) {
    display: none;
  }
}

.header__drawer__bar {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: $color-black;

  &:nth-child(1) {
    top: 0;
  }
  &:nth-child(2) {
    top: 9px;
  }
  &:nth-child(3) {
    top: 18px;
  }
}

.header__nav {
  display: none;

  @include mq(pc) {
    display: block;
    flex-grow: 1;
  }
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__item {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 1px;
    height: 36px;
    background: $color-black;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
    height: $header-height-pc;
    padding-inline: min(2.08vw, 30px);

    @include mq(tb) {
      font-size: 14px;
      padding-inline: max(1.04vw, 8px);
    }
  }

  span {
    display: block;
    margin-top: 7px;
    color: $color-accent;
    font-size: 12px;
    font-family: $font-family-en;
  }
}

.header__contact {
  display: none;

  @include mq(pc) {
    display: block;
    width: 168px;
  }

  @include mq(tb) {
    width: 120px;
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
    height: $header-height-pc;
    color: $color-white;
    background: $color-main;

    @include mq(tb) {
      font-size: 14px;
    }
  }

  span {
    display: block;
    margin-top: 7px;
    color: $color-accent;
    font-size: 12px;
    font-family: $font-family-en;
  }
}

// mv
.mv {
  width: 100%;
  height: 812px;
  background: transparent url(../img/top-image-sp.jpg) no-repeat 50% 50% / cover;

  @include mq(pc) {
    height: 900px;
    background: transparent url(../img/top-image.jpg) no-repeat 50% 50% / cover;
  }
}

.mv__inner {
  height: inherit;
  position: relative;
}

.mv__text {
  position: absolute;
  top: calc(50% + 31px);
  transform: translateY(-50%);
  left: 0;

  @include mq(pc) {
    top: calc(50% + 39px);
    left: 3px;
  }

  img {
    @include mq(pc) {
      width: 960px;
    }
  }
}
