// ブレイクポイント
@use "sass:map";

$breakpoints: (
  sp: "not screen and (min-width: 900px)",
  tb: "screen and (min-width: 900px) and (max-width: 1090px)",
  pc: "screen and (min-width: 900px)",
) !default;

@mixin mq($breakpoint: pc) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

// 変数
$font-family-ja: "Noto Serif JP", serif;
$font-family-en: "Lora", serif;

$color-main: #31452d;
$color-accent: #b69b04;
$color-sub: #eeead0;
$color-black: #333333;
$color-white: #ffffff;

$inner-width-sp: 335px;
$inner-width-pc: 1040px;

// 共通
.inline-block {
  font-weight: inherit;
  display: inline-block;
}

.hide-on-sp {
  @include mq(sp) {
    display: none;
  }
}

.hide-on-pc {
  @include mq(pc) {
    display: none;
  }
}

// ベース
body {
  font-family: $font-family-ja;
  font-size: 16px;
  line-height: 1.6;
  color: $color-black;
}

// header
.header {
}

.header__inner {
}

.inner {
}

.header__logo {
}

.header__nav {
}

.header__list {
}

.header__item {
}

.header__contact {
}
